.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  display: flex;
  justify-content: space-evenly;
  background: green;
  color: white;
}

.main-area {
 background: yellow;
 display: flex;
 justify-content: center;
 min-height: 80vh;
}

.grid-container {
 flex-wrap: wrap;
 padding-top: .5vw;
 padding-bottom: .5vw;
 width: 100%;
 background: red;
}

.grid-image {
  height: 200px;
  background: pink;
  width: 200px;
  margin: .5vw;
  object-fit: cover;
}

img:hover {
  cursor: pointer;
}
/* ========================================================================== */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
